<div class="jumbotron">
    <h1>Zession en application state</h1>
    <p class="lead">Session- en applicationvariabelen werden gewist.</p>
    <p><a href="~/Home/index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>

    @* Session state *@
    @*<h1> Sessionstate</h1>
    <p class="lead">Sessionvariabele werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>*@
    
    @* cookie *@
    @*<h1>Cookies</h1>
    <p class="lead">Cookie werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primpary btn-lg">Terug naar indexpagina &raquo;</a></p>*@
</div>

