@helper Milieuscore(DateTime datum)
{
    if (datum.Year < 1980)
    {
        <span>**</span>
    }
    else
    {
        <span>***</span>
    }
}


@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@
